
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Oooooops, nothing here. Maybe try something different :-)</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
