﻿@page "/"
@using ChatEndPoint.Server.Services
@using System.Text.Json;
@using Microsoft.AspNetCore.SignalR.Client
@using ChatEndPoint.Server.Hubs
@using ChatEndPoint.Server.Hubs.HubEvent
@using Core.Entities
@using WSDT.EmojiFilePicker
@using Markdig;

@inject NavigationManager NavigationManager
@inject ChatEndPoint.Server.Services.IChatService chatService



<style>
    .resizedImg {
        height: 200px;
        background-color: #ccc;
        border-style: solid;
        border-width: 1px;
        border-color: #ccc;
        /* border-radius */
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        /* box-shadow */
        -webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 3px;
        -moz-box-shadow: rgba(0,0,0,0.8) 0 0 3px;
        box-shadow: rgba(0,0,0,0.8) 0 0 3px;
        cursor: pointer;
        transition: opacity 1s;
    }

        .resizedImg:hover {
            opacity: 0.5;
        }
</style>


<div class="card" style="margin:15px;">
    <div class="card-header">
        <h5>Doppelzahn-Chat</h5>
        <h6 class="card-subtitle mb-2 text-muted">
            <AuthorizeView>
                <Authorized>You are logged in</Authorized>
                <NotAuthorized>Log in to access all features</NotAuthorized>
            </AuthorizeView>
        </h6>
    </div>

    <ul id="messagesList" class="list-group list-group-flush">
        @foreach (var UserMessage in chatService.AllMessages)
        {
            <li class="list-group-item" style="@(UserMessage.User.Equals(ChatSystemMsg.SystemUser) ? "color: #ccc;font-style:italic;font-weight:bold;" : "")">
                <strong>@UserMessage.User.EMail</strong> <sup>@UserMessage.GetTimeDifference()</sup>
                @if (UserMessage.User.IsGuest)
                {
                    <span class="badge badge-pill badge-dark">Guest</span>
                }
                <div style="font-size:small;">
                    @foreach (var Submsg in UserMessage.Messages)
                    {
                        <div class="animated lightSpeedIn">@((MarkupString)Markdown.ToHtml(Submsg))</div>
                    }
                </div>
            </li>
        }
    </ul>
    <div class="card-body">
        <EditForm Model="@chatService.ChatForm" Context="formContext" OnValidSubmit="chatService.Send">
            <DataAnnotationsValidator />
            <AuthorizeView>
                <NotAuthorized>
                    <div class="input-group mb-3 @(chatService.HasSentMsg ? "animated fadeOut":"")">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="addon-mail">&#x00040;</span>
                        </div>
                        <input type="text" class="form-control" placeholder="E-Mail" aria-label="E-Mail" aria-describedby="addon-inputmail" @bind-value="chatService.ChatForm.CurrentUser.EMail" />
                    </div>
                    <ValidationMessage For="@(() => chatService.ChatForm.CurrentUser.EMail)" />
                </NotAuthorized>
            </AuthorizeView>

            <small style="font-style:italic;font-weight: bold;">Markdown and Html are supported :-)</small>
            <EmojiInput IsSubmitDisabled="@(!chatService.IsConnected())" Placeholder="Message.." ShowSubmit="true" CustomSymbols="@CustomSymbols"
                @bind-Message="chatService.ChatForm.MessageInput" AddFiles="AddFiles" FileUploadRoute="@(ICommonRoutes.FILE_UPLOAD)" />
            <ValidationMessage For="@(() => chatService.ChatForm.MessageInput)" />
        </EditForm>


    </div>
    <div class="card-footer text-muted">
        <small>More on <a href="https://github.com/wsdt" title="Github - WSDT">Github/WSDT</a>.</small>
    </div>
</div>


@code {
    //ChatService chatService = new ChatService();
    [CascadingParameter] Task<AuthenticationState> AuthenticationStateTask { get; set; }

    private List<string> CustomSymbols = new List<string>()
{
        "⺀", "⽥", "⽨", "⽣", "㣕"
    };

    private void AddToMsg(string msg) => chatService.ChatForm.MessageInput += msg;

    public void AddFiles(List<string> imgUris)
    {
        foreach (string imgUri in imgUris) AddToMsg($"<img src='{imgUri}' alt='Image' class='resizedImg' />");

        chatService.Send();
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        chatService.HubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri(ICommonRoutes.CHAT_HUB))
            .Build();


        chatService.HubConnection.On<string, MsgPriority>(IPublic.SYSTEM_MSG, (message, priority) =>
        {
            var lastMessage = chatService.AllMessages.LastOrDefault();
            if (lastMessage != null && lastMessage.User.Equals(ChatSystemMsg.SystemUser))
            {
                lastMessage.Messages.Add(message);
            }
            else
            {
                chatService.AllMessages.Add(new ChatSystemMsg(new List<string> { message }, priority));
            }
        });

        chatService.HubConnection.On<string, string>(IPublic.RECEIVE_MSG, (user, message) =>
        {
            var chatUser = JsonSerializer.Deserialize<ChatUser>(user);
            var lastMessage = chatService.AllMessages.LastOrDefault();
            if (lastMessage != null && lastMessage.User.Equals(chatUser))
            {
                // If last message has been written by the same user, add it to the last chatMsg-obj
                lastMessage.Messages.Add(message);
            }
            else
            {
                // other user typed msg
                chatService.AllMessages.Add(
                                new ChatMsg(chatUser, new List<string> { message })
                            );
            }

            StateHasChanged();
        });

        await chatService.HubConnection.StartAsync();
        await SetUsernameIfLoggedIn();
        await chatService.Join(); // notify other chat members about new chatter
    }

    public async Task SetUsernameIfLoggedIn()
    {
        var authState = await AuthenticationStateTask;
        var user = authState.User;
        if (user.Identity.IsAuthenticated)
        {
            chatService.ChatForm.CurrentUser.EMail = user.Identity.Name;
        }
        chatService.ChatForm.CurrentUser.IsGuest = !user.Identity.IsAuthenticated;
    }
}