@page "/fetchdata"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inject HttpClient Http
@inject IGetAllNotifications getAllNotifications

<h1>Notificaion</h1>

<p>This component demonstrates fetching data from the server by using registered application services.</p>

@if (notes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Title</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var not in notes)
            {
                <tr>
                    <td>@not.CreatedAt.ToDate()</td>
                    <td>@not.Title</td>
                    <td>@not.Description</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Notification> notes;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            notes = getAllNotifications.Execute();

        }
        catch (Exception exception)
        {
            Console.WriteLine(exception.ToString());
        }
    }

}
